# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

.vscode/
saida_stuff/
src/pages/ar-LB/
src/pages/fr/
src/pages/pt-BR/
public/by_tomb_id/X/
