---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("fr");
---

<Layout title="Welcome to Astro.">

	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt!lorem lorem
	</p>



	<!-- <Carousel page="teste"> -->



	<!-- id="X234" -->
	<?xml version="1.0" encoding="iso-8859-1"?>
	<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
	<svg fill="#000000" height="150px" width="150px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 512 512" xml:space="preserve" >
	<g>
		<g>
			<path d="M420.574,98.447c0-14.874-12.058-26.933-26.932-26.933c-4.288,0-8.338,1.007-11.937,2.789
				c9.507,1.567,17.893,7.04,23.149,15.076c10.325,15.788,5.987,37.092-9.938,47.507l-28.207,18.447V167.6l-52.427,34.115
				c-7.724,5.026-9.91,15.36-4.884,23.084c5.027,7.725,15.362,9.909,23.084,4.884l48.6-31.625c3.751,1.982,8.024,3.109,12.561,3.109
				c14.874,0,26.933-12.058,26.933-26.932V98.447H420.574z"/>
		</g>
	</g>
	<g>
		<g>
			<circle cx="362.47" cy="33.05" r="33.05"   tabindex="0" id="abc"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M323.007,89.131c-10.337,1.317-17.024,11.732-13.744,21.756l37.987-24.843L323.007,89.131z"/>
		</g>
	</g>
	<g>
		<g>
			<circle id="teste_imgs" cx="237.295" cy="74.037" r="38.027"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M391.597,98.05c-5.585-8.541-17.038-10.938-25.58-5.351l-81.109,53.046l-65.338,7.659l47.008-16.565
				c-5.844-4.933-13.681-7.453-21.85-6.298l-49.138,6.948c-15.218,2.152-25.81,16.232-23.658,31.45l21.296,141.189l20.106,84.514
				l-23.125,89.639c-3.059,11.859,4.075,23.953,15.933,27.012c11.866,3.059,23.955-4.081,27.012-15.933l24.498-94.963
				c0.902-3.496,0.936-7.16,0.1-10.671l-20.421-85.834l11.193-1.582l42.121,65.138l9.484,124.068
				c0.93,12.157,11.525,21.352,23.802,20.421c12.212-0.933,21.354-11.59,20.421-23.802l-9.914-129.688
				c-0.282-3.688-1.482-7.247-3.49-10.351l-35.012-54.143l-13.81-97.676l-58.254-6.164l69.659-8.165
				c2.843-0.333,5.569-1.322,7.963-2.889l84.751-55.427C394.788,118.044,397.184,106.591,391.597,98.05z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M168.907,62.55H99.786c-4.618,0-8.361,3.744-8.361,8.361c0,4.618,3.744,8.361,8.361,8.361h69.121
				c4.618,0,8.361-3.744,8.361-8.361C177.268,66.293,173.525,62.55,168.907,62.55z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M171.939,29.674l-42.409-16.505c-4.302-1.674-9.151,0.456-10.824,4.759c-1.676,4.303,0.456,9.15,4.759,10.824
				l42.409,16.505c4.298,1.673,9.148-0.452,10.824-4.759C178.373,36.195,176.243,31.348,171.939,29.674z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M405.113,367.928l-6.407-98.412c-0.089-1.369-1.214-2.44-2.585-2.464s-2.532,1.01-2.667,2.376l-9.716,98.14
				c-0.624,6.781,4.91,12.18,11.369,11.759C401.019,378.943,405.498,373.839,405.113,367.928z"/>
		</g>
	</g>
	<g>
		<g>
			<path d="M396.781,480.228c-12.219,0-22.123,11.938-22.123,19.787c0,7.851,9.905,11.985,22.123,11.985
				c12.218,0,22.123-4.134,22.123-11.985C418.905,492.166,409,480.228,396.781,480.228z"/>
		</g>
	</g>
	</svg>


	<button >My button</button>
	<!-- Development -->
	<!-- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
	<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script> -->
	<!-- <script>
		import tippy from 'tippy.js';
		import 'tippy.js/dist/tippy.css'; // optional for styling
	</script> -->
    <script>
	  import tippy from 'tippy.js';
	  import 'tippy.js/dist/tippy.css';
	  // optional for styling
      // With the above scripts loaded, you can call `tippy()` with a CSS
      // selector and a `content` prop:
    //   tippy('#myButton', {
    //     content: '<strong>Bolded  <img src="./234.jpg" alt="Girl in a jacket" width="190" height="190">  content</strong>',
  	// 	allowHTML: true,
	// 	interactive: true,
	// 	// default
	// 	maxWidth: 350,
    //   });
	function create_tooltip(id){
		return tippy(`#${id}`, {
			content: `<strong>Bolded  <img src="src/pages/${id}.jpg" alt="Girl in a jacket" width="190" height="190">  content</strong>`,
			allowHTML: true,
			interactive: true,
			// default
			maxWidth: 350,
			appendTo: document.body,
		});
	}
	// loop em todos os codigos da lista pra ir criando eles
	create_tooltip("X234");

	tippy("#abc", {
			content: `<strong>Bolded CUUUUUUUUUUUUUUUUU content</strong>`,
			allowHTML: true,
			interactive: true,
			// default
			maxWidth: 350,
			appendTo: document.body,

		});
// 	tippy('button', {
//   content(reference) {
//     const title = reference.getAttribute('title');
// 	console.log(title);
//     reference.removeAttribute('title');
//     return title;
//   },
// });
    </script>


	<h1>oi tudo bom</h1>



	<script src="../../js/tooltips.js"></script>
	<script>
		import { create_tooltip } from "../../js/tooltips.js";
		await create_tooltip("teste_imgs");
	</script>



</Layout>