---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Press Kit">
  <div class="mx-auto ">

    <h1 class="text-5xl font-bold text-center mb-10">Press Kit</h1>
    <h2 class="text-2xl font-bold text-center mb-5">Nabi Saydoun: A New Website to Preserve the Legacy of the Sidon Jewish Community</h2>
    <p>In an effort to honor and preserve the memory of the once-thriving Lebanese Jewish community of Sidon, a new website, <a href="http://nabisaydoun.org">nabisaydoun.org</a>, has been launched. This platform serves as a digital archive dedicated to the communal cemetery, which has remained neglected since the community’s departure in the last quarter of the 20th century, and other historical Jewish sites in the Lebanese city of Sidon (known in Arabic as Saida).</p>
    <p>The website features an interactive map of the cemetery, showcasing detailed photographs of most tombstones. This unique tool allows visitors to explore the resting places of the deceased, ensuring that their names and legacies are not forgotten. Additionally, a comprehensive, searchable table includes names, dates, and other vital details of the individuals laid to rest in this sacred ground. The table and documentation of the deceased are not complete, this is an ongoing process of translation and identification. The website is available in English, as well as Portuguese and French; a future Arabic version is also in the works.</p>
    <p>By engaging with the website, visitors can help revive and maintain the memory of this community, ensuring that their contributions to Sidon and the broader Jewish heritage are recognized and honored. The community, which traces its roots in Sidon to figures such as Zevulun, son of Yaakov and Leah in the Jewish Bible, is now spread throughout the world, with Sidon synagogues in New York, São Paulo and Rio de Janeiro. </p>
    <p>The state of the cemetery reflects not only the neglect of their memory but also the urgent need to reconnect with the heritage of Middle Eastern and North African Jews. We encourage all who visit the site to share their stories, photographs, and any historical information that can further enrich this collective memory.</p>
    <p>For more information, please visit <a href="http://nabisaydoun.org">nabisaydoun.org</a>.</p>

    <h2 class="my-6 text-2xl font-bold text-center underline">
      <a  href="/documents/presskit.zip">Download Press Kit</a>
    </h2>
    
    <div class= "flex flex-wrap">
      <img src="/presskit/cemetery-december2018.JPG" alt="" width="500"/>
      <img src="/presskit/20181014_090122.jpg" alt="" width="300"/>
      <img src="/presskit/615.jpg" alt="" width="300"/>
      <img src="/presskit/61_recortado.png" alt="" width="300"/>

      <img src="/presskit/644.jpg" alt="" width="300"/>
      <img src="/presskit/805.jpg" alt="" width="300"/>
      <img src="/presskit/A5.JPG" alt="" width="300"/>
      <img src="/presskit/C63.jpg" alt="" width="300"/>
    </div>

  </div>
</Layout>
