---
import SvgCemetery from "./SvgCemetery.astro";
import { t, changeLanguage } from "i18next";
---

<script>
  const panzoom = await import("../js/panzoom.js");
  panzoom.main();
  document.addEventListener("astro:page-load", () => {
    panzoom.main();
  });
</script>

<div class="my-12 flex flex-col justify-center gap-4">
  <p class="text-xl font-medium">{t("map.title")}</p>

  <div
    class="relative mx-auto h-[66svh] w-full overflow-hidden border border-zinc-700 lg:w-fit [&_div]:hover:opacity-0"
  >
    <div
      class="absolute bottom-0 left-0 z-50 m-2 rounded-md border border-black p-2 opacity-0 backdrop-blur-sm transition-opacity lg:opacity-100"
    >
      <p class="inline-flex items-center gap-1">
        {t("map.zoom")}: <kbd class="kbd kbd-sm">Shift</kbd> + {t("map.wheel")}
      </p>
      <p>{t("map.pan")}</p>
    </div>
    <SvgCemetery />
  </div>
  <button class="btn btn-outline mx-auto" id="reset_svg"
    >{t("map.reset")}</button
  >
</div>
