---
import RawLayout from "../../layouts/RawLayout.astro";
import Lang from "../../layouts/Lang.astro";
import Title from "../../layouts/Title.astro";
import Navbar from "../../layouts/Navbar.astro";
import Footer from "../../layouts/Footer.astro";
import { t, changeLanguage } from "i18next";
import { Image } from "astro:assets";
// import { Debug } from 'astro:components';
import hero_bg from "../../assets/hero_bg_full.png";

changeLanguage("pt-BR");
---

<RawLayout title={t("index.title")}>
  <style>
    #div_img {
      box-shadow:
        17cqi -17cqi 30px -18cqi rgba(0, 0, 0, 0.5),
        -17cqi -17cqi 30px -18cqi rgba(0, 0, 0, 0.5);
    }
  </style>

  <!-- <Debug {hero_bg} /> -->

  <div class="mx-auto max-w-[90rem] min-[1441px]:mt-6">
    <div class="relative">
      <div class="@container">
        <Image
          id="div_img"
          src={hero_bg}
          alt="Background illustration of an old cemetery in watercolour style with warm muted colors and a few trees with orange leafs."
          class="mx-auto h-[120dvh] object-cover sm:h-auto"
        />
      </div>

      <header>
        <Lang/>
        <div class="absolute right-0 top-0 z-20 md:inset-x-0 md:mb-14 md:mt-5">
          <div class="hidden md:contents">
            <Title/>
          </div>
          <Navbar/>
        </div>
      </header>




      <div class="absolute left-2/4 top-20 z-10 -translate-x-1/2 md:top-[24%]">
        <h1
          class="animate-fade-down rounded-lg text-center text-5xl font-medium backdrop-blur-sm animate-delay-700 animate-ease-in-out xl:text-7xl"
        >
          {t("index.h1")}
        </h1>
      </div>
    </div>

    <p class="px-2">{t("index.body1")}</p>

    <div
      class="mt-6 flex flex-col flex-wrap items-center justify-center gap-6 lg:flex-row"
    >
      <button
        onclick="location.href = './synagogue'"
        type="button"
        class="btn btn-outline btn-wide h-64 rounded-3xl text-xl hover:bg-transparent hover:bg-[url('/public/jews.avif')] hover:bg-cover hover:bg-center hover:bg-no-repeat hover:text-transparent"
        >{t("site.jews")}</button
      >

      <button
        onclick="location.href = './cemetery'"
        type="button"
        class="btn btn-outline h-64 w-[18rem] rounded-3xl text-3xl hover:bg-transparent hover:bg-[url('/public/cemiterio.avif')] hover:bg-cover hover:bg-center hover:bg-no-repeat hover:text-transparent sm:h-80 sm:w-[24rem]"
        >{t("site.cemetery")}</button
      >

      <button
        onclick="location.href = './about'"
        type="button"
        class="btn btn-outline btn-wide h-64 rounded-3xl text-xl hover:bg-transparent hover:bg-[url('/public/about_us.avif')] hover:bg-cover hover:bg-center hover:bg-no-repeat hover:text-transparent"
        >{t("site.about")}</button
      >
    </div>
  </div>
  <Footer />
</RawLayout>
