---
import Navbar from "./Navbar.astro";
import Lang from "./Lang.astro";
import Title from "./Title.astro";

---

<header class="mt-12 md:mt-5 md:mb-14">
    <Lang/>
    <Title/>
    <div class="absolute top-0 right-0 md:inset-x-0 md:static ">
        <Navbar/>
    </div>
</header>