---
import { LanguageSelector } from "astro-i18next/components";
---

<div class="absolute left-0 top-0 z-50 h-12 px-2 pt-3">
  <LanguageSelector
    showFlag={true}
    languageMapping={{ en: "", fr: "" }}
    class="my-select-class bg-transparent p-2 text-2xl lg:text-lg"
  />
</div>
