---
import SvgCemetery from "./SvgCemetery.astro";

---

<script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>
<script>
    import Panzoom from '@panzoom/panzoom'
    const elem = document.getElementById("svg");
    const panzoom = Panzoom(elem)

    elem.addEventListener('wheel', function(event) {
    if (!event.shiftKey) return
    panzoom.zoomWithWheel(event)
    })
    let resetButton = document.getElementById("reset_svg");
    resetButton.addEventListener('click', panzoom.reset)
</script>


<div class="flex flex-col justify-center gap-4 my-12">
    <button class="btn btn-outline mx-auto" id="reset_svg">Reset</button>


    <div class="border border-zinc-700 overflow-hidden mx-auto w-[95vw]">

        <SvgCemetery />

    </div>
</div>
